<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1 style="font-size: 30px; font-weight: 600;" class="navbar-brand">Vk.com Statics</h1>
        <div class="collapse navbar-collapse nav-bar" id="navbarText"></div>
    </div>
</nav>

<main role="main" class="contener">
    <div align="center">
        <h4 style=" color: #da70d6">Activities</h4>
        <table class="table table-anouther table-bordered">
            <tbody>
            <tr>
                <td style="background-color: #da70d6">likes</td>
                <td style="background-color: #ee82ee; width: 120px">{{ activities['likes'] }}</td>
            </tr>
            <tr>
                <td style="background-color: #da70d6">comments</td>
                <td style="background-color: #ee82ee; width: 120px">{{ activities['comments'] }}</td>
            </tr>
            <tr>
                <td style="background-color: #da70d6">subscribed</td>
                <td style="background-color: #ee82ee; width: 120px">{{ activities['subscribed'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div align="center">
        <h4 style="color: #66cdaa">Ages</h4>
        <table class="table table-anouther table-bordered">
            <tbody>
            {% for age in ['12-18', '18-21', '21-24', '24-27', '27-30', '30-35', '35-45', '45-100'] %}
            <tr>
                <td style="background-color: #66cdaa">{{ age }}</td>
                <td style="background-color: #7fffd4; width: 120px">{{ ages[age] }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div align="center">
        <h4 style="color: #ffb6c1">Cities</h4>
        <table class="table table-city table-bordered-dark">
            <tbody>
            {% for city in cities %}
            <tr>
                <td style="background-color: #ffb6c1">{{ city }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</main>
</body>
</html>